  <p id="notice"><%= notice %></p>
  <h1> <%= @tour.title %></h1>
  <p class="lead">
    <%= @tour.teaser %>
  </p>

  <p>

    <%= @tour.description %>
  </p>
  <p>
  <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" scrolling="no" marginheight="0" marginwidth="0"
    src=<%= @tour.url %>>


    </iframe>
    </div>
  </p>

<hr>
  <% if can?(:edit,Tour) %>
  <%= button_to 'Edit', edit_tour_path(@tour) %>
      <% end %>
  <%= button_to 'Back', tours_path %>
