  <p id="notice"><%= notice %></p>
  <h1> <%= @tour.title %></h1>
  <p class="lead">
    <%= @tour.teaser %>
  </p>

  <p>

    <%= @tour.description %>
  </p>
  <p>
    <iframe width="1200"height="600" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
    src=<%= @tour.url %>>

    </iframe>
  </p>

<hr>
  <%= button_to 'Edit', edit_tour_path(@tour) %>
  <%= button_to 'Back', tours_path %>
